<ion-header>
    <ion-toolbar>
      <ion-title>
      INSCRIPTION
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <form [formGroup]="InscriptionForm" (submit)="inscription()">      
    <ion-item>
      <ion-input type ="text" placeholder="First name"  name="nomUtilisateur" formControlName="nomUtilisateur" [(ngModel)]="utilisateur.nomUtilisateur" ></ion-input>
    </ion-item>
    <div *ngIf="InscriptionForm.controls['nomUtilisateur'].invalid && (InscriptionForm.controls['nomUtilisateur'].dirty || InscriptionForm.controls['nomUtilisateur'].touched)" class="alert alert-danger">
        <div *ngIf="InscriptionForm.controls['nomUtilisateur'].errors.required">
          Your last name is required.
        </div>
      </div>
   
    <ion-item>
      <ion-input type ="text" placeholder="Last name" name="preomUtilisateur" [(ngModel)]="utilisateur.preomUtilisateur"  formControlName="preomUtilisateur" ></ion-input>
    </ion-item>
    <div *ngIf="InscriptionForm.controls['preomUtilisateur'].invalid && (InscriptionForm.controls['preomUtilisateur'].dirty || InscriptionForm.controls['preomUtilisateur'].touched)" class="alert alert-danger">
        <div *ngIf="InscriptionForm.controls['preomUtilisateur'].errors.required">
          Your first name is required.
        </div>
      </div>
    <ion-item>
      <ion-input type ="text" placeholder="username"  name="pseudoUtilisateur" [(ngModel)]="utilisateur.pseudoUtilisateur" formControlName="pseudoUtilisateur"></ion-input>
    </ion-item>
    <div *ngIf="InscriptionForm.controls['pseudoUtilisateur'].invalid && (InscriptionForm.controls['pseudoUtilisateur'].dirty || InscriptionForm.controls['pseudoUtilisateur'].touched)" class="alert alert-danger">
        <div *ngIf="InscriptionForm.controls['pseudoUtilisateur'].errors.required">
          Your first name is required.
        </div>
      </div>
      <ion-item>
        <ion-input type ="text" placeholder="Email"   name="adresseMailUtilisateur" [(ngModel)]="utilisateur.adresseMailUtilisateur" formControlName="adresseMailUtilisateur"></ion-input>
      </ion-item>
      <div *ngIf="InscriptionForm.controls['adresseMailUtilisateur'].invalid && (InscriptionForm.controls['adresseMailUtilisateur'].dirty || InscriptionForm.controls['adresseMailUtilisateur'].touched)" class="alert alert-danger">
          <div *ngIf="InscriptionForm.controls['adresseMailUtilisateur'].errors.required">
            Your email is required.
          </div>
        </div>
      <ion-item>
        <ion-input type ="password" placeholder="Password"   name="MotDePasseUtilisateur" [(ngModel)]="utilisateur.MotDePasseUtilisateur" formControlName="MotDePasseUtilisateur"></ion-input>
      </ion-item>
      <div *ngIf="InscriptionForm.controls['MotDePasseUtilisateur'].invalid && (InscriptionForm.controls['MotDePasseUtilisateur'].dirty || InscriptionForm.controls['MotDePasseUtilisateur'].touched)" class="alert alert-danger">
          <div *ngIf="InscriptionForm.controls['MotDePasseUtilisateur'].errors.required">
            Your password is required.
          </div>
        </div>
      
      <ion-item>
          <ion-input type ="number" placeholder="Write down your phone number"   name="telUtilisateur" [(ngModel)]="utilisateur.telUtilisateur" formControlName="telUtilisateur"></ion-input>
        </ion-item>
        <div *ngIf="InscriptionForm.controls['telUtilisateur'].invalid && (InscriptionForm.controls['telUtilisateur'].dirty || InscriptionForm.controls['telUtilisateur'].touched)" class="alert alert-danger">
            <div *ngIf="InscriptionForm.controls['telUtilisateur'].errors.required">
              Your phone number is required.
            </div>
          </div>
      <ion-item>
        <ion-input type ="text" placeholder="Adresse"  name="adresseUtilisateur" [(ngModel)]="utilisateur.adresseUtilisateur" formControlName="adresseUtilisateur" ></ion-input>
      </ion-item>
      <div *ngIf="InscriptionForm.controls['adresseUtilisateur'].invalid && (InscriptionForm.controls['adresseUtilisateur'].dirty || InscriptionForm.controls['adresseUtilisateur'].touched)" class="alert alert-danger">
          <div *ngIf="InscriptionForm.controls['adresseUtilisateur'].errors.required">
            Your adresse is required.
          </div>
        </div>
      <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime display-format="DD/MM/YYYY"  name="naissanceUtilisateur" [(ngModel)]="utilisateur.naissanceUtilisateur" formControlName="naissanceUtilisateur"></ion-datetime>
      </ion-item>
      <div *ngIf="InscriptionForm.controls['naissanceUtilisateur'].invalid && (InscriptionForm.controls['naissanceUtilisateur'].dirty || InscriptionForm.controls['naissanceUtilisateur'].touched)" class="alert alert-danger">
          <div *ngIf="InscriptionForm.controls['naissanceUtilisateur'].errors.required">
            Your birthday date is required.
          </div>
        </div>
      <ion-button (click)="onSubmit()">
        INSCRIPTION</ion-button>
    </form>
  </ion-row>
</ion-grid>
  </ion-content>
  