<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
      aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">{{operation == 'add' ? 'Ajouter' :
            operation == 'edit' ? 'Modifier' :
            operation == 'remove' ? 'Supprimer' : ''}}</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body">
        <div *ngIf="operation == 'add' || operation == 'edit'">
          <form [formGroup]="crudForm">
            <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.dataType">
              <div class="form-group" *ngIf="!dataModel.readonly">
                <label>{{dataModel.columnReference}}:</label>
                <input *ngSwitchCase="'string'" type="text" class="form-control"
                  formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]" />
                <input *ngSwitchCase="'number'" type="number" class="form-control"
                  formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]" />
              </div>
              <!-- <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid &&
                                                (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
                        Référence est obligatoire!
                    </div> -->
            </div>
  
            <button class="btn btn-success" [disabled]="crudForm.prestine || crudForm.invalid"
              (click)="operation == 'add' ? add() : update()">
              {{ operation == 'add' ? 'Ajouter' : operation == 'edit' ? 'Modifier' : ''}}
            </button>
          </form>
  
        </div>
        <div *ngIf="operation == 'remove'">
          <p class="card-title">
            Référence: {{selectedItem.id}}
          </p>
          <p>
            Voulez-vous supprimer cet élément?
          </p>
          <button class="btn btn-success" [disabled]="!selectedItem.id" (click)="delete()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
  
  

