<ng-container *ngIf="data; else loading">
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">{{title}}</h1>

<div class="container" [ngStyle]="{'margin-top': '20px'}">
  <div *ngIf="crudType == 'sample'">
    <app-sample
    [title]="title"
    [data]="data"
    [service]="service"
    [initItem]="initItem"
    [initForm]="initForm"
    [dataModelList]="dataModelList"
    ></app-sample>
  </div>
</div>
</ng-container>

<ng-template #loading>
  Loading ....
</ng-template>
