.login{
    background: url(../../assets/images/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    position: relative;
}
.label{
    background-color: aliceblue;
    width: 40%;
    height: 25%;
    scale: round;
}
