<ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <div class="login" >
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
  <form [formGroup]="loginForm" (submit)="login()" class="label">
      <ion-title>
          LOGIN
          </ion-title>
        <ion-item>
      <ion-input type ="text" placeholder="username"  id="username" name="username"
       formControlName="username" [(ngModel)]="credentials.username" class="input"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="alert alert-danger">
        <div *ngIf="loginForm.controls['username'].errors.required">
          Username is required.
        </div>
      </div>
    <ion-item>
    <ion-input type ="password" placeholder="password" 
      id="password" name="password" formControlName="password" [(ngModel)]="credentials.password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="loginForm.controls['password'].errors.required">
          Password is required.
        </div>
      </div>
    
   
    <ion-button shape="round" size="default" color="primary" expand="block" type="submit">LOGIN</ion-button>
  </form>
</ion-row>
</ion-grid>
</div>
  </ion-content>

  