<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardAjouter" class="collapsed d-block card-header py-3" (click)="operation = 'add'; selectedItem = false" data-toggle="collapse" role="button"
    aria-expanded="true" aria-controls="collapseCardAjouter">
    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-user-plus"></i>
      Ajouter</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardAjouter">
    <div class="card-body">
      <div *ngIf="operation == 'add'">
        <form [formGroup]="crudForm">
          <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.dataType">
            <div class="form-group" *ngIf="!dataModel.readonly">
              <label>{{dataModel.columnReference}}:</label>
              <input *ngSwitchCase="'string'" type="text" class="form-control"
                formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]" />
              <input *ngSwitchCase="'number'" type="number" class="form-control"
                formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]" />
            </div>
            <!-- <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid &&
                                                (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
                        Référence est obligatoire!
                    </div> -->
          </div>

          <button class="btn btn-success" [disabled]="crudForm.prestine || crudForm.invalid" (click)="add()">
          Ajouter
          </button>
        </form>

      </div>

    </div>
  </div>
</div>

<!-- Collapsable Card List -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardList" class="collapsed d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true"
    aria-controls="collapseCardList">
    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-align-justify"></i>
      Liste des {{title}}</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardList">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let item of data">
              <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
              <td>
                <button class="btn btn-primary btn-block"
                  (click)="iconValue = 'fas fa-user-plus';operation = 'edit'; selectedItem = item">
                  <span class="text">
                    <i class="fas fa-edit"></i>
                  </span>
                </button>
                <button class="btn btn-danger btn-block" (click)="operation = 'remove'; selectedItem = item;" data-toggle="collapse" data-target="collapseCardSupprimer">
                  <span class="text">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardModifier" class="collapsed d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="true" aria-controls="collapseCardModifier">
    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-edit"></i>
      Modifier</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardModifier">
    <div class="card-body">

      <div *ngIf="operation == 'edit'">
        <form [formGroup]="crudForm">
          <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.dataType">
            <div class="form-group" *ngIf="!dataModel.readonly">
              <label>{{dataModel.columnReference}}:</label>
              <input *ngSwitchCase="'string'" type="text" class="form-control"
                formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]" />
              <input *ngSwitchCase="'number'" type="number" class="form-control"
                formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]" />
            </div>
            <!-- <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid &&
                                                    (produitForm.controls['ref'].touched || produitForm.controls['ref'].dirty)">
                            Référence est obligatoire!
                        </div> -->
          </div>

          <button class="btn btn-success" [disabled]="crudForm.prestine || crudForm.invalid" (click)="update()">
            Modifier
          </button>
        </form>

      </div>

    </div>
  </div>
</div>

<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardSupprimer" class="collapsed d-block card-header py-3" data-toggle="collapse" role="button"
    aria-expanded="true" aria-controls="collapseCardSupprimer">
    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-trash"></i>
      Supprimer</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse" id="collapseCardSupprimer">
    <div class="card-body">
      <form [formGroup]="crudForm">
        <div *ngIf="operation == 'remove'">
          <p class="card-title">
            ID: {{selectedItem.idUtilisateur}}
          </p>
          <p>
            Voulez-vous supprimer cet élément?
          </p>
          <button class="btn btn-success" [disabled]="!selectedItem.idUtilisateur" (click)="delete()">Confirmer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script> var $myGroup = $('#myGroup');
    $myGroup.on('show.bs.collapse','.collapse', function() {
        $myGroup.find('.collapse.in').collapse('hide');
    }); </script>