.home{
  background: url(../../assets/images/bg-pattern.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
