<ion-header>
  <ion-toolbar>
    <ion-title>
    INSCRIPTION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <form [formGroup]="InscriptionForm" (submit)="inscription()">      
  <ion-item>
    <ion-input type ="text" placeholder="First name"  name="nomUtilisateur" formControlName="nomUtilisateur" [(ngModel)]="utilisateur.nomUtilisateur" ></ion-input>
  </ion-item>
 
 
  <ion-item>
    <ion-input type ="text" placeholder="Last name" name="preomUtilisateur" [(ngModel)]="utilisateur.preomUtilisateur"  formControlName="preomUtilisateur" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input type ="text" placeholder="username"  name="pseudoUtilisateur" [(ngModel)]="utilisateur.pseudoUtilisateur" formControlName="pseudoUtilisateur"></ion-input>
  </ion-item>
 
    <ion-item>
      <ion-input type ="text" placeholder="Email"   name="adresseMailUtilisateur" [(ngModel)]="utilisateur.adresseMailUtilisateur" formControlName="adresseMailUtilisateur"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type ="password" placeholder="Password"   name="MotDePasseUtilisateur" [(ngModel)]="utilisateur.MotDePasseUtilisateur" formControlName="MotDePasseUtilisateur"></ion-input>
    </ion-item>
   
    
    <ion-item>
        <ion-input type ="number" placeholder="Write down your phone number"   name="telUtilisateur" [(ngModel)]="utilisateur.telUtilisateur" formControlName="telUtilisateur"></ion-input>
      </ion-item>
      
    <ion-item>
      <ion-input type ="text" placeholder="Adresse"  name="adresseUtilisateur" [(ngModel)]="utilisateur.adresseUtilisateur" formControlName="adresseUtilisateur" ></ion-input>
    </ion-item>
   
    <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime display-format="DD/MM/YYYY"  name="naissanceUtilisateur" [(ngModel)]="utilisateur.naissanceUtilisateur" formControlName="naissanceUtilisateur"></ion-datetime>
    </ion-item>
   
    <ion-button (click)="onSubmit()">
      INSCRIPTION</ion-button>
  </form>
</ion-row>
</ion-grid>
</ion-content>
